<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.stepdetector" android:required="true"/>
    <uses-feature android:name="android.permission.ACTIVITY_RECOGNATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GormetHealth"
        tools:targetApi="31">
        <activity
            android:name=".StepCounter"
            android:exported="false"
            android:label="@string/title_activity_step_counter"
            android:theme="@style/Theme.GormetHealth" />
        <activity
            android:name=".counterpage"
            android:exported="false"
            android:label="@string/title_activity_counterpage"
            android:theme="@style/Theme.GormetHealth" />
        <activity
            android:name=".dinnerpage"
            android:exported="false"
            android:label="@string/title_activity_dinnerpage"
            android:theme="@style/Theme.GormetHealth" />
        <activity
            android:name=".lunchrecipes"
            android:exported="false" />
        <activity
            android:name=".challengepage"
            android:exported="false"
            android:label="@string/title_activity_challengepage"
            android:theme="@style/Theme.GormetHealth" />
        <activity
            android:name=".dispages"
            android:exported="false"
            android:label="@string/title_activity_dispages"
            android:theme="@style/Theme.GormetHealth" />
        <activity
            android:name=".discoverpage"
            android:exported="false"
            android:label="@string/title_activity_discoverpage"
            android:theme="@style/Theme.GormetHealth" />
        <activity
            android:name=".goalspage"
            android:exported="false" />
        <activity
            android:name=".recipespage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>